.progress {
    height: 21px;
}

    .progress .progress-bar {
        font-size: 13px;
        line-height: 21px;
    }


#date-time {
    text-align: right;
}

#disk-usage-status .progress-bar {
    min-width: 20%;
}


.calendar td {
    border: thin lightgray solid;
}

.calendar .hour-row {
    height: 40px;
}

.event {
    background-color: red;
    z-index: 1;
    position: absolute;
}

.fc-time-grid .fc-event {
    cursor: move;
}

.fc-event {
    text-decoration: none !important;
}

    .fc-event .icons {
        display: block;
        padding-top: 4px;
    }
        .fc-event .icons > span.glyphicon {
            cursor: default;
        }
        .fc-event .icons a {
            color: white !important;
            cursor: pointer;
        }


.new-event .weekdays {
    list-style-type: none;
    padding-left: 0px;
}

.new-event .weekdays li {
    display: inline;
    padding-left: 10px;
}

#temperaturesChart circle.nv-point {
    fill-opacity: 1;
}