<script type="text/ng-template" id="event-icons.html">
    <span class="icons">
        <a ng-click="deleteEvent(event)" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
        <span class="glyphicon glyphicon-repeat" title="Recurring event" ng-show="event.event.isRecurring"></span>
    </span>

</script>

<div class="container-fluid">
    <div id="event-calendar" ui-calendar="uiConfig.calendar" calendar="calendar" ng-model="eventSources" class="col-lg-10"></div>
</div>
