.progress {
    height: 21px;
}

    .progress .progress-bar {
        font-size: 13px;
        line-height: 21px;
    }


#date-time {
    text-align: right;
}

#disk-usage-status .progress-bar {
    min-width: 20%;
}


.calendar td {
    border: thin lightgray solid;
}

.calendar .hour-row {
    height: 40px;
}

.event {
    background-color: red;
    z-index: 1;
    position: absolute;    
}

.fc-event {
    text-decoration: none !important;
}

.fc-event .icons {
    float: right;
    padding-right: 2px;
    padding-top: 2px;
}