.progress {
    height: 21px;
}

    .progress .progress-bar {
        font-size: 13px;
        line-height: 21px;
    }


#date-time {
    text-align: right;
}

#disk-usage-status .progress-bar {
    min-width: 20%;
}
