{deps,
  [
    {gproc, ".*", {git, "https://github.com/lehoff/gproc.git"}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}},
    {sync, ".*", {git, "https://github.com/rustyio/sync.git"}}
  ]}.

{port_env, [
  {"CC", "D:/Toolchains/RaspberryPi/bin/arm-linux-gnueabihf-gcc.exe"}
  ,{"DRV_CFLAGS", "-Iusr/lib/erlang/usr/include -I../gproc/include"}
  ,{"DRV_LDFLAGS", "-lei -lerl_interface"}
  ,{"DRV_CC_TEMPLATE", "$CC -c $DRV_CFLAGS $PORT_IN_FILES"}
  ]}.