{release, {home_automation, "1"}, [home_automation]}.
{extended_start_script, true}.
{lib_dirs, ["ebin", "deps", "D:/Toolchains/RaspberryPi/arm-linux-gnueabihf/sysroot/usr/lib/erlang/lib"]}.
{paths, ["ebin/erlang-ale/ebin"]}.
{include_erts, "D:/Toolchains/RaspberryPi/arm-linux-gnueabihf/sysroot/usr/lib/erlang"}.